<div>
  <a
    href="{% url 'app:complete_note' project.id note.id %}"
    class="text-decoration-none"
  >
    {% if note.is_completed %}
    <p class="text-white-50 text-decoration-line-through">{{ note.text }}</p>
    {% else %}
    <p class="text-white">{{ note.text }}</p>
    {% endif %}
  </a>
  <span>
    <a
      href="{% url 'app:delete_note' project.id note.id %}"
      class="text-decoration-none text-danger"
      >Delete</a
    >
    <div class="float-end">@{{ note.user.username }}</div>
  </span>
</div>
