<div
  class="rounded-3 border mb-2 py-2 px-3"
  style="
      background: {{ note.user.profile.color }}0C;
      border-color: {{ note.user.profile.color }} !important;
    "
>
  <a
    href="{% url 'app:complete_note' project.id note.id %}"
    class="text-decoration-none"
  >
    {% if note.is_completed %}
    <p class="text-white-50 text-decoration-line-through">{{ note.text }}</p>
    {% else %}
    <p class="text-white">{{ note.text }}</p>
    {% endif %}
  </a>
  <div>
    <a
      href="{% url 'app:delete_note' project.id note.id %}"
      class="text-decoration-none text-danger"
    >
      Delete
    </a>
    <div class="text-decoration-none float-end">@{{ note.user.username }}</div>
  </div>
</div>
