{% extends 'app/base.html' %} {% block content %}
<div
  class="container d-flex flex-column align-items-center justify-content-center"
>
  <h1>Archive</h1>
  <div
    class="mb-2 d-flex flex-row flex-wrap align-items-center justify-content-center"
  >
    {% for project in projects %}
    <a
      href="{% url 'app:archive_project_details' project.id %}"
      class="text-decoration-none text-white"
    >
      <div class="card me-2 mb-2 d-inline-block" style="width: 18rem">
        <img
          src="{{ project.image_url }}"
          class="card-img-top"
          style="height: 12rem; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
        </div>
      </div>
    </a>
    <!-- <a
      href="{% url 'app:project_details' project.id %}"
      class="btn btn-secondary"
    >
      {{ project.name }}
    </a> -->
    {% endfor %}
  </div>
</div>
{% endblock %}
