{% extends 'app/base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="container py-5 col col-md-6 col-lg-4">
  <a
    href="{% url 'app:projects' %}"
    class="icon-link d-inline-flex align-items-center"
  >
    Back to projects
    <svg class="bi" width="1em" height="1em">
      <use xlink:href="#chevron-right" />
    </svg>
  </a>
  {% if user == project.creator %}
  <a
    href="{% url 'app:project_settings' project.id %}"
    class="icon-link d-inline-flex align-items-center float-end"
  >
    Project settings
    <svg class="bi" width="1em" height="1em">
      <use xlink:href="#gear" />
    </svg>
  </a>
  {% endif %}
  <h1>{{ project.name }}</h1>
  <form action="{% url 'app:new_note' project.id %}" method="post" class="mb-2">
    {% csrf_token %} {{ form|crispy }}
    <input type="submit" value="Add" class="btn btn-primary" />
  </form>
  {% for note in notes %} {% if note.is_completed %}
  <div class="border-bottom">
    <a
      href="{% url 'app:complete_note' project.id note.id %}"
      class="d-block text-white-50 text-decoration-line-through"
    >
      <p>{{ note.text }}</p>
      <p class="text-white text-decoration-none">@{{ note.user.username }}</p>
    </a>
  </div>
  {% else %}
  <div class="border-bottom">
    <a
      href="{% url 'app:complete_note' project.id note.id %}"
      class="d-block text-white text-decoration-none"
    >
      <p>{{ note.text }}</p>
      <p class="text-white text-decoration-none">@{{ note.user.username }}</p>
    </a>
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
