{% extends 'app/base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="col-6 m-5">
  <h2>Project settings</h2>
  <form
    action="{% url 'app:project_settings' project.id %}"
    method="post"
    class="mb-3"
  >
    {% csrf_token %} {{ form|crispy }}
    <input type="submit" value="Update" class="btn btn-primary" />
  </form>
  <a
    href="{% url 'app:delete_project' project.id %}"
    class="btn btn-outline-danger"
  >
    Delete project
  </a>
  {% if is_archiveable %}
  <a
    href="{% url 'app:archive_project' project.id %}"
    class="btn btn-outline-warning"
  >
    Archive project
  </a>
  {% endif %}
  <h2>Manage users</h2>
  <form action="{% url 'app:add_user' project.id %}" method="post" class="mb-3">
    {% csrf_token %} {{ add_user_form|crispy }}
    <input type="submit" value="Add" class="btn btn-primary" />
  </form>
  {% for user in users %} {% if user.user == request.user %}
  <div class="border rounded-3 p-3 mb-3">You</div>
  {% else %}
  <div class="border rounded-3 p-3 mb-3">
    {{ user.user.username }}
    <a
      href="{% url 'app:remove_user' project.id user.user.id %}"
      class="float-end text-danger"
    >
      Remove
    </a>
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
